[2018-03-30 02:20] matthewliu opened #2 "Decide on bridge server services/API/requests structure"
Simplest thing to do (but messiest) is to use the built in web_views framework.

Alternatively, we do something a bit more sophisticated and modular to handle inbound requests.

[2018-03-30 02:23] matthewliu opened #3 "Design and stub out identity service"
Come up with high-level identity requests and responses.

Needs to be able to handle at least three use cases:
- Proxy service for publicly auditable proofs
- Third-party attestation server
- Origin attestation server (really a subset of the above)

[2018-03-30 02:25] matthewliu opened #4 "Design and stub out indexing service"
Come up with high-level identity requests and responses.

Essentially needs to handle various types of search:

Search by keyword
Search by recency, ratings, etc.
Search by other filters (attributes on listings)

Should design this so that it is extensible in the future, but can be very minimal for now.

[2018-03-30 02:26] matthewliu opened #5 "Design and stub out messaging service"
Come up with high-level messaging requests and responses.

Handles messaging between two parties (buyer and seller). Lots of thinking needed here.

[2018-03-30 02:28] matthewliu opened #6 "Design and stub out notifications service"
Come up with high-level notifications requests and responses.

We'll probably want to support both email and phone number (text) notifications.

There needs to be a way to subscribe to notifications. There also needs to be a way to initiate notification sends to recipients.

[2018-04-03 01:06] matthewliu opened #7 "Implement app skeleton, services structure, testing structure"

[2018-04-03 01:07] matthewliu opened #8 "Implement phone number verification in identity service"

[2018-04-03 01:07] matthewliu opened #9 "Implement email address verification in identity service"

[2018-04-03 01:08] matthewliu opened #10 "Implement Twitter publicly-auditable proofs in identity service"

[2018-04-03 01:08] matthewliu opened #11 "Implement Civic attestations in identity service"

[2018-04-05 02:33] DanielVF opened #12 "Worker for slurping blockchain data into postgres"
Requirements

- [ ] Must also work with local dev chains
- [ ] Should store data in postgres
- [ ] Should also store contract related IPFS in postgres so that both IPFS and contract data can be searched together.
- [ ] Tracks new Listings
- [ ] Tracks Listing changes
- [ ] Tracks new Purchases
- [ ] Tracks Purchases changes

Long term requirements:

- [ ] Can follow chain roughly live
- [ ] Can be

[2018-04-11 20:15] tyleryasaka commented on #10
I believe we've decided not to implement publicly-auditable proofs for now. Can I close this @matthewliu ?

[2018-04-11 20:17] tyleryasaka opened #15 "Facebook Attestations"
Add an endpoint for getting Facebook attestations.

[2018-04-11 20:18] tyleryasaka opened #16 "Twitter Attestations"
Add an endpoint for getting Twitter attestations.

[2018-04-11 21:07] Gzing opened #17 "API discussion REST vs RPC"
Kicking the discussion off here:
Currently we have `apilib` which uses RPC style API's which might be useful for creating methods to do various actions which touch different resources from a single endpoint.
I don't feel the need at bridge server is to have method based endpoints since most of the resources are independent. for ex: indexing server only exposes read-only API's
Plus following REST w

[2018-04-11 21:13] Gzing opened #18 "Images in the IPFS data"
While pulling in IPFS data and keying that in DB was working fine, there is a performance degradation on the API side due to heavy image data in the payloads.
Can we offload the images to S3 and save url's into the db?

[2018-04-11 21:14] Gzing commented on #18
Is pretty straight forward to implement and seems like the right way to go, just wanted to check with everyone.

[2018-04-11 21:31] matthewliu commented on #10
Yes please close

On Wed, Apr 11, 2018 at 1:15 PM, Tyler Yasaka <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol.com>

[2018-04-12 00:45] joshfraser commented on #17
Tagging @jlgoldman, the author of `apilib`

[2018-04-12 00:54] UnicycleJonathan commented on #17
Totally up to you guys. I kind of hate REST even when used properly, and it prevents you from ever doing something RPC-style if you need it years down the line. That said, REST interfaces are the best understood by the community, and I'm not going to be the one working on this. From a purely detached perspective, you should probably use a publicly-documented API framework.

[2018-04-12 01:07] joshfraser commented on #18
Realize we already have Sendgrid and Twilio dependencies, but trying not to add more third-party dependencies than absolutely necessary so folks can easily run their own bridge servers without needing to signup for too many third-party services.

Feels like the images should probably be stored on IPFS and the listing JSON should include an array of IPFS hashes instead of the raw image data.

[2018-04-12 18:18] matthewliu opened #19 "Test feature for org project - Alex should be able to see this"

[2018-04-12 18:20] #19 closed

[2018-04-13 16:45] tyleryasaka commented on #17
Yes I generally agree with everything that's been said here. In my opinion we should be using a well-documented, robust API library - one that is popular enough that there is a bit of a community around it. And it should be REST - I'm not too opinionated about REST one way or another but it is the norm right now. We should be doing as much as possible to make this easy to consume and easy for new

[2018-04-13 21:39] micahalcorn commented on #9
@tyleryasaka et al: from the UX perspective, email address verification usually involves receiving an email that contains a link, clicking that link, and the router doing something with a token contained in the URL. I assume that the plan is as follows:

1) DApp sends request to bridge server for a verification email to be generated
2) bridge server generates email
3) user clicks link in email
4)

[2018-04-13 21:45] tyleryasaka commented on #9
@micahalcorn One solution is to just let the user copy/paste the code without ever having to navigate away from the page. The other solution that comes to mind is exactly what you mentioned, using local storage.

Either way, this sounds like a demo-dapp UI issue more than a bridge-server issue. Might be good to move this discussion over there.

[2018-04-14 05:45] Gzing commented on #17
here are a few good maintained API extensions for Flask:
1. https://github.com/jfinkels/flask-restless
2. https://github.com/flask-restful/flask-restful
3. https://github.com/biosustain/potion

I had tried the first one and looked good, but is too opinionated about the way of doing things. Will evaluate these three and finalise one.

Open to any other suggestions.

[2018-04-14 22:51] matthewliu commented on #11
Deprecating for now

[2018-04-14 22:51] #11 closed

[2018-04-15 11:25] Gzing opened #20 "Add Purchase API and listeners"
If you need help, please ask in our [#engineering channel on Discord](http://www.originprotocol.com/discord).

We use issues for tracking features, bugs and discussions.

[2018-04-15 11:27] Gzing opened #21 "Remove apilib and switch to a publicly maintained REST framework"

[2018-04-18 18:01] joshfraser commented on #17
Sounds like we have consensus around using https://github.com/jfinkels/flask-restless going forward.

[2018-04-18 18:02] joshfraser commented on #21
Sounds like we have consensus around using https://github.com/jfinkels/flask-restless.

[2018-04-18 18:08] micahalcorn opened #22 "Update phone, email, FB, Twitter attestations service calls from apilib to restful"
Replicate @nick's ERC 725 Javascript implementation using Python.

[2018-04-18 18:24] micahalcorn opened #23 "Write tests for identity service"
Now that the decision has been made to use [restless](https://github.com/jfinkels/flask-restless) and [pytest](https://docs.pytest.org/en/latest/), tests should be added for the identity service.

[2018-04-18 18:24] joshfraser commented on #2
We'll be using this library:
https://github.com/jfinkels/flask-restless

[2018-04-18 18:26] matthewliu commented on #16
Created another issue for updated format in bridge server using restful

[2018-04-18 18:26] #16 closed

[2018-04-18 18:26] matthewliu commented on #15
Created another issue for updated format in bridge server using restful

[2018-04-18 18:26] #15 closed

[2018-04-18 21:58] #17 closed

[2018-04-24 08:07] tyleryasaka commented on #21
So, from what I can tell, Flask Restless is for automatically generating API endpoints around database models. That won't be sufficient for our attestation endpoints. For creating our own custom endpoints, I think we should use [flask-restful](https://flask-restful.readthedocs.io/en/latest/api.html).

[2018-04-24 22:09] micahalcorn commented on #6
For example, some likely notifications result from transaction stages:

- Someone has purchased your listing
- Someone has shipped/fulfilled your purchase
- Someone has received your shipment
- Someone has left a review
- Someone has withdrawn your funds (transaction complete)

There may be some notifications from the DApp developer, which may or may not apply to a listing:

- Your listing is abou

[2018-04-26 23:22] crazybuster opened #29 "Exceptions in attestation_service should raise specific exceptions"
Exceptions in the logic/attestation_service.py should raising different exceptions for each error case instead of a single generic one with different codes and messages. This way we can catch and handle specific exceptions if we want to, and also test those cases.

[2018-04-27 01:26] DanielVF commented on #18
We'll be storing the image hashes in the listing's IPFS data. We can later build something to send along the images from the query server as a part of the results, so we don't pay a latency price.

[2018-04-27 18:20] ghost opened #30 "Monitoring, logging, instrumentation"
Maybe more applicable to individual deployments (rather than the open source project), although monitoring, logging, instrumentation (some or all) should be set up when the bridge server is deployed into production

[2018-04-29 01:39] ambertch commented on #4
flask-restless looks to have a query interface that maps to DB queries, although I don't know if JSON datatypes are supported. If they are (or the library is forked), that might meet the requirements for an initial version of search functionality (postgres also supports indexing of JSON columns, so listing titles/descriptions/etc. can be indexed through the DB).

[2018-04-29 06:50] ambertch opened #31 "Recommended specs for deploying bridge server"
For 3rd party deployments of the bridge server, it would be good to publish guidelines for instance specs, IE recommended instance type for deployment on GCP/Azure/EC2, resource allocation for container / bare metal deployments.

[2018-04-29 06:56] ambertch opened #32 "Capacity planning at launch"
Probably not required (since the biggest instance on a cloud provider is pretty big), but it would be a nice-to-have to have some benchmarking for the purposes of capacity planning.

[2018-04-29 19:38] joshfraser commented on #31
We're planning to offer the one-click Heroku button for deployments. Obviously this won't scale long-term, but for now, we want to keep the setup that simple where everything will run on a single server without much fuss.

[2018-04-29 19:43] joshfraser commented on #32
The Ethereum network provides an upstream bottleneck of ~15 transactions/sec. This obviously will have to improve for any of this stuff to go mainstream, but we don't have to worry too much about scaling until Ethereum starts picking up speed.

[2018-04-30 05:38] joshfraser commented on #5
Our thinking has developed a bit since we wrote that, but the same high-level objectives apply. We're currently considering using IPFS pubsub chat rooms as the foundation for conversations between buyers and sellers. Everything would be encrypted of course. Instead of looping in the arbitrator from the beginning, we'd allow either the buyer or seller to reveal the message thread to an arbitrator &

[2018-04-30 17:44] tyleryasaka opened #33 "Better return types for attestation service"
The attestation service is currently returning dictionaries - should probably return something more structured.

EDIT: This was created from `crazybuster`'s comment on this PR: https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 03:16] ambertch commented on #33
Discussed with Tyler.

I'd guess that when a data structure is returned in a similar format from many methods or places, it's good practice to encapsulate the data.

I'll open a PR for this issue.

[2018-05-01 06:50] ambertch commented on #6
Hospitality service (Airbnb) notifications:

**Traveler**
- booking request sent
- booking request declined ("Eleanor is unable to host your stay")
- booking request confirmed ("Reservation confirmed")
- request to leave review (for host)
- notification of review (from host)
- message notification

**Host**
- [guess] booking request
- [guess] booking request canceled
- [guess] booking request modi

[2018-05-01 07:52] tyleryasaka commented on #21
Finished by https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 07:52] #21 closed

[2018-05-01 07:53] tyleryasaka commented on #22
Finished by https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 07:53] #22 closed

[2018-05-01 07:53] tyleryasaka commented on #8
Finished by https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 07:53] #8 closed

[2018-05-01 07:53] tyleryasaka commented on #9
Finished by https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 07:53] #9 closed

[2018-05-01 07:54] tyleryasaka commented on #7
Finished by https://github.com/OriginProtocol/bridge-server/pull/28 and https://github.com/OriginProtocol/bridge-server/pull/24

[2018-05-01 07:54] #7 closed

[2018-05-01 07:55] tyleryasaka commented on #3
Attestation server is done by https://github.com/OriginProtocol/bridge-server/pull/28. We chose to move away from publicly-auditable proofs for now.

[2018-05-01 07:55] #3 closed

[2018-05-01 07:56] tyleryasaka commented on #23
Finished by https://github.com/OriginProtocol/bridge-server/pull/28

[2018-05-01 07:56] #23 closed

[2018-05-02 00:36] ambertch commented on #29
This seems related to #33, I'll work on this as well.

[2018-05-02 02:11] micahalcorn opened #36 "API output structure vs origin-js"
Currently, a listing query outputs something like the following:

[code]

Meanwhile, [`origin-js` returns a flattened object](http://docs.originprotocol.com/#listing) without any distinction between fields that are stored in IPFS vs the blockchain.
[code]

Should the return values conform to one another since DApp developers will be consuming both? I would think that we might at least want attribu

[2018-05-02 08:07] tyleryasaka commented on #36
@micahalcorn Correct - `origin-js` should be interfacing between `demo-dapp` and `bridge-server`. `demo-dapp` should never talk directly to `bridge-server`.

While it would help for us to have consistent terminology, I feel like we're moving at "move fast and break things" speed and will probably put emphasis on getting an MVP out there over having perfectly consistent nomenclature. For the time b

[2018-05-02 16:43] Gzing commented on #36
Will see if I can easily get this flat structure within the resftul API changes.

[2018-05-02 16:54] DanielVF commented on #36
I'm just fine with IPFS data being separated here.

[2018-05-02 22:46] micahalcorn opened #38 "Update readme for running a local bridge server"
Please provide as much instruction as is reasonable regarding the creation of a virtual environment, python version, Redis, PostgreSQL, Celery, etc.

[2018-05-02 23:58] micahalcorn opened #39 "Index reviews"
Once https://github.com/OriginProtocol/origin-js/issues/149 is completed, we will need to index the reviews so that we can, for example, retrieve all of the reviews associated with a seller even though the reviews are each scoped to a purchase. I don't know if this should be a separate API (/reviews&q=) or if every request should be scoped to an address (be it a listing, a purchase, or a user).

[2018-05-04 02:59] ambertch opened #40 "Normalize and validate phone number"
1. Phone numbers are stored in raw form in the database, we may want to normalize the phone numbers (also, international numbers will be of a different format than US ones)

bridge-server=# select * from verification_code;
[code]

2. There currently isn't an application level validation or database constraint on the phone number field:

`absdsssjkddskjf | xxxxxx | 2018-05-03 20:17:13.273304-07 | 2

[2018-05-04 03:19] ambertch opened #41 "Null columns in verification_code table"
verification_code is used for both email and phone numbers, and so one of the columns will be NULL. Some database people will say it is bad practice to allow null values.

[2018-05-04 03:45] ambertch opened #42 "Exception handling for Twilio and Sendgrid API calls"
Currently, exceptions from Twilio and Sendgrid are not caught.

[code]

[2018-05-04 05:05] ambertch commented on #41
Is the main output of the identity service actually the signature? If so, this table is just used to store temporary codes and isn't a primary store of information.

[2018-05-04 09:03] Gzing commented on #38
Working on a PR for this, will submit today.

[2018-05-04 09:10] Gzing opened #44 "Verify events are generated by legit contracts"
Currently we are grepping events which are basically keccack-256 hashes of the event signatures which can collide with event names from different contracts on the blockchain.
Possible solutions are:
1. Checking bytecode of the event contract and verifying it with the bytecode of origin contracts and it if matches, then we are good and we don't care who deployed the contract since the code is unalt

[2018-05-04 18:41] #41 closed

[2018-05-04 20:51] tyleryasaka commented on #41
@ambertch Correct, the database is just a temporary store for the validation process. The valuable output is the signature that is returned.

[2018-05-04 23:06] ambertch opened #46 "storage for Phone and Email verification codes"
Generated phone and email verification codes are currently stored in the database. They could also be stored in the session, which is used when generating the claim for twitter.

[2018-05-06 03:40] ambertch commented on #5
One random idea (somewhat whacky and glossing over some stuff):

From IPFS, it looks like authentication is still being implemented for pubsub. Even without authentication as a feature, the buyer and seller can communicate securely over a given channel using their keypairs:
- the address is a hash of the public key, so it is known that the two public keys correspond to the buyer and seller account

[2018-05-06 16:43] joshfraser commented on #5
@ambertch I like how you're thinking about it. Generally the right approach.

- Would it make sense for us to include the specific listing in the hash used for the channel address? (I don't think so, but worth consideration)

- What if we created a channel for every wallet? That way, if you want to message someone, you just need their wallet address. This could have broad usage even beyond Origin,

[2018-05-06 20:50] ambertch commented on #46
Some thoughts:

Storing  email / phone #'s could be good if standards for identity change (or there are multiple identity standards), the protocol ends up operating on multiple blockchains, etc. It would make it easier to port identities around and/or link them across multiple standards.

Not storing this information could be looked at as a privacy protecting feature as well ("link your email and

[2018-05-06 21:15] joshfraser commented on #46
Storing them in the database is okay for now. Long term, we'd rather not have the liability that comes with holding personally identifiable information.

Had a chat with Vitalik about this at Edcon. His advice was for us to store the root of a merkle tree onchain so people can prove their data has been verified by us without their actual data being stored onchain or on our servers.

[2018-05-07 05:27] ambertch commented on #5
@joshfraser thanks!
- RE: listing information in the channel, so I'm not sure how well the approach above can generate a true UUID, maybe using listing info would be good for generating a lower collision channel name
- RE: channel per wallet, what would mark a thread / conversation between parties? With Facebook Messenger, for instance, every thread is identified by the participants in the convers

[2018-05-09 21:45] ambertch commented on #5
**Implementation Q's**

Q0: When does messaging take place? (discussion during 5/9 meeting)
	- Before the transaction, throughout transaction stages, and after the transaction

Q1: How would a messaging system be designed?
	- One option is to use events: Ex. purchase contract currently emits a PurchaseChange event, this can trigger notifications to be sent out by the bridge server to buyer and sel

[2018-05-09 23:52] joshfraser commented on #5
Haven't taken a look at them yet, but http://matrix.org and https://vector.im have also been mentioned as messaging solutions we should investigate.

[2018-05-10 07:02] crazybuster commented on #5
Currently I'm implementing "Q1", which broadcast events emitted by the listing and purchase contracts. My naive implementation is in the logic/notifier_service.py this services just listens for events that are processed to the indixer_service and fires of notifications to endpoints that are registered to the relevant eth_address. The device implementations for displaying the notifications are stil

[2018-05-10 20:50] micahalcorn commented on #38
Done via #52 ✅

[2018-05-10 20:50] #38 closed

[2018-05-11 23:37] azban commented on #33
is there remaining work here now that #48 has been merged? @tyleryasaka @ambertch

[2018-05-12 02:36] joshfraser opened #59 "Create a better index page for the bridge server"
Visiting the root domain of our bridge server (
https://bridge.originprotocol.com) currently returns a plain text response.

We can do better than this.

An ideal solution would:

- Explain to visitors what the bridge server is, what functionality it provides (indexing, notifications and identity attestations), how it fits into our platform & the implications of using it (ie. select a bridge serve

[2018-05-12 21:25] ambertch commented on #33
@azban I believe this one is completed.

[2018-05-12 21:25] #33 closed

[2018-05-12 21:26] ambertch commented on #42
taken care of by https://github.com/OriginProtocol/bridge-server/pull/48

[2018-05-12 21:26] #42 closed

[2018-05-12 21:26] ambertch commented on #40
taken care of by https://github.com/OriginProtocol/bridge-server/pull/48

[2018-05-12 21:26] #40 closed

[2018-05-12 21:26] ambertch commented on #29
Taken care of by https://github.com/OriginProtocol/bridge-server/pull/48

[2018-05-12 21:26] #29 closed

[2018-05-15 04:47] franckc commented on #4
I'm in the process of adding some scaffolding to the bridge server to support indexing the data into a search engine of our choice.

In terms of search engine, I'm leaning towards using a hosted ElasticSearch instance via a Heroku add-on such as [Bonsai](https://elements.heroku.com/addons/bonsai). ElasticSearch provides a lot of nice functionalities out of the box: schemaless, good ranking, filter

[2018-05-15 04:59] franckc opened #61 "Add timeout support to IPFSHelper"
The current [IPFHelper](https://github.com/OriginProtocol/bridge-server/blob/master/util/ipfs.py#L22) utility class does not support specifying a timeout.
This can cause the IPFHelper.file_from_hash() function to block indefinitely in case the IPFS back-end does not return data.

We should add support for timeout and update the various call-sites to a) pass a reasonable timeout value (a few second

[2018-05-15 05:19] franckc opened #62 "Add retry/error handling logic to the indexing service"
Currently the indexer service does not have any retry/error handling when calling the Notifier and SearchIndexer modules. Any error causes the celery task running the indexing service to error out.

We should assume that transient failures will happen at some point when attempting to send mobile notifications or indexing the data in the search engine.

In the short-term, one idea could be to imple

[2018-05-15 05:35] franckc opened #63 "Indexing service processes the last event more than once"
Currently the indexing service stores the block number of the last event successfully processed in the event_tracker table. On the subsequent run of the event_listener() loop, it fetches events starting at that block number. This results in the last successful event to be processed twice or even multiple times. Among other things this has the undesirable effect that multiple notifications for that

[2018-05-16 05:36] franckc commented on #4
Sent out a [PR](https://github.com/OriginProtocol/bridge-server/pull/64) with an initial implementation for indexing events in Bonsai ElasticSearch.

Next step will be to add a Search API the DAPP can hit to search for listings.

[2018-05-16 15:29] DanielVF commented on #61
We should definitely specify a default timeout here. Perhaps 20 seconds?

[2018-05-21 21:53] crazybuster opened #68 "Syncing origin-js and bridge server for local instances"
It'd be good to have somewhere, some tag/version mapping of which version of origin-js the contracts of bridge server is built again. If not, there could be definitely be mismatches of what contracts are running on origin-js and what the bridge-server is listening for.

Not at all sure what this should look like. Maybe just an entry in the README? We don't have a monolithic run script.

[2018-05-22 22:00] ambertch opened #71 "Celery worker crashes on start"
The current version of celery is set to 4.1.0 https://github.com/OriginProtocol/bridge-server/blob/develop/requirements.txt#L7

4.1.0 has a dependency (kombu >= 4.0.2) https://github.com/celery/celery/blob/v4.1.0/requirements/default.txt#L3

Yesterday, a new version of kombu (4.2.0) was uploaded to PyPi which has a code change that makes it incompatible with the bridge server's version of celery h

[2018-05-24 06:19] ambertch opened #74 "Bridge Server compatibility with Ganache and JS-IPFS (used by origin-js)"
Origin-js uses the IPFS node module to instantiate a local ipfs.

When integrating bridge server and ipfs using the above library,

the python IPFS library does a version check when connecting to the daemon (https://github.com/ipfs/py-ipfs-api/blob/master/ipfsapi/client.py#L19) however, the node module versioning is different (https://github.com/ipfs/js-ipfs/blob/master/package.json#L3). When the

[2018-05-24 23:16] ambertch opened #75 "Listing prices are stored in DB as an integer"
The price column of the Listing table is created as an int https://github.com/OriginProtocol/bridge-server/blob/master/database/migrations/versions/47df3d43171e_add_listing_table.py#L27

When listings get indexed, the prices get rounded:

<img width="1238" alt="screenshot 2018-05-24 16 12 44" src="https://user-images.githubusercontent.com/156263/40518117-c3e6f5da-5f6d-11e8-84af-b237aef19f37.png">

[2018-05-25 20:49] Gzing commented on #63
Closed by #72

[2018-05-25 20:49] #63 closed

[2018-05-25 21:05] Gzing commented on #71
Closed by #73. Pinned Kombu to 4.1.0 for now. Will upgrade when Celery 4.2 is out.

[2018-05-25 21:05] #71 closed

[2018-05-28 22:27] ambertch commented on #74
via https://github.com/OriginProtocol/bridge-server/pull/78

[2018-05-28 22:27] #74 closed

[2018-05-29 03:16] ambertch opened #79 "Webhooks"
Developers may want to be notified of events that are related to their DApp or service in order to send notifications or operate on that data (email to leave a review, logic when one of their users creates a listing, etc).

[2018-05-29 03:48] franckc commented on #79
Yes, agreed HTTP callbacks would be useful for merchants - it would be a simple way for them to integrate their legacy back-end systems with the Origin platform.
Purely as an example, here are the webhooks PayPal provides to its merchants: https://developer.paypal.com/docs/integration/direct/webhooks/

[2018-05-29 07:17] ambertch commented on #79
Examples from ecommerce platform Shopify: https://help.shopify.com/api/reference/events/webhook

[2018-05-30 19:17] micahalcorn commented on #75
Done via #77 ✅

[2018-05-30 19:17] #75 closed

[2018-06-05 18:47] ambertch opened #84 "IPFS gateway hardening"
Currently, the IPFS gateway (NGINX proxy) allows any content to be uploaded (with a 2MB max payload). If anything can be uploaded from anywhere, there are potential hazards, among them:

- spam content / listings
- inappropriate content
- illegal content

There are many ways to harden the gateway, for example:

- Formatted loglines, log handling, and some sort of log monitoring would give visibili

[2018-06-05 20:02] joshfraser commented on #84
Thanks for this @ambertch.

@DanielVF reminded me that we also need to add more redundancy to our IPFS gateway and have at least a second server that is constantly pinning our content. We're currently running a single gateway server and there's no guarantee that anyone else will ever pin our stuff without the appropriate incentive. @cuongdo can you own this?

[2018-06-05 20:12] cuongdo commented on #84
@joshfraser Yes, I'll take on adding IPFS gateway redundancy.

@ambertch Thanks. I'll put in my comments later today.

[2018-06-06 01:06] cuongdo commented on #84
@ambertch These are good ideas. I don't currently have access to the IPFS gateway, but these are some other ideas in order of my priority for them:

1. Adding a second IPFS gateway
2. Have IP-based ACLs for certain operations, such as pinning and unpinning. I'm not aware of a legitimate use for someone else pinning (outside of the auto-pinning that happens when objects are added) or unpinning stuf

[2018-06-06 15:44] ambertch commented on #68
In addition to the contract ABIs, the listing schemas are also pieces of data that will require versioning... there will probably be cases where two versions aren't backwards compatible (like major and minor versions of software).

Since this data is also used by multiple components (currently origin-js, bridge server, dapps) there could be the need for a synchronization mechanism in the future.

[2018-06-07 06:51] ambertch commented on #84
It sounds like besides application development, provisioning has to be done for the gateway server (configure logging, install agents for monitoring and alerting, writing the Nginx configs). If there are multiple gateway servers, a system like ansible can also deploy changes to all servers, and provision/configure servers identically (tags and variable allow for variations in deploys, ex. if the s

[2018-06-13 21:41] tyleryasaka commented on #59
This is completed by: https://github.com/OriginProtocol/bridge-server/pull/85

Thanks @mek32390 !

[2018-06-13 21:41] #59 closed

[2018-06-15 22:41] tyleryasaka opened #86 "Foreign key constraint error"
We're getting this error:

[code]

@ambertch says:

To reproduce:
- start [origin-js](https://github.com/OriginProtocol/origin-js) locally
- start bridge server such that it is connected to origin-js
- make sure celery is running
- error should appear in server output

Alternatively, start the bridge server in our [docker container](https://github.com/OriginProtocol/origin-box) (if you can get it

[2018-06-15 22:49] tyleryasaka opened #88 "Add basic elasticsearch documentation"
Right now our elasticsearch functionality is entirely undocumented. We don't need anything thorough yet, but we should have something that gives one trivial example of usage and then links to the appropriate documentation so that people can learn more.

[2018-06-18 21:07] ambertch commented on #86
The bridge server was looking for a previous version of the event signature https://github.com/OriginProtocol/bridge-server/blob/master/util/tasks.py#L58

Pushed an update to the PR!

[2018-06-19 02:19] tyleryasaka opened #90 "Not all events are being indexed"
I could be doing something wrong, but it appears that not all the events are being indexed. In the [origin-box](https://github.com/OriginProtocol/origin-box) setup, only 1 listing and 2 purchases are indexed (regardless of how many new listings you create).

The listing endpoint is `http://localhost:5000/api/listing`
The purchase endpoint is `http://localhost:5000/api/purchase`

That's where you c

[2018-06-19 18:51] ambertch commented on #90
On the box I'm currently running, I see for listings:

`{
  "num_results": 5,
  "objects": [
    {
      "contract_address": "0x2C8afBb062e16F0C5cFecAe5c032314A6038c611",
      "created_at": null,
      "expired": null,
      "expires_at": null,
      "ipfs_data": {
        "category": "Vacation Rentals",
        "description": "Built on the slopes of Hualalai Mountain in Kailua, Hawaii, the Mamal

[2018-06-19 20:40] tyleryasaka opened #91 "Indexing API endpoints"
Couple adjustments:

1. Indexing endpoints should be in their own namespace. So `/api/listings` should be something like `/api/indexing/listings`.

1. Endpoints for listing multiple resources should be plural, following REST conventions (`/api/indexing/listing` should be `/api/indexing/listings`.) (EDIT: this isn't too important either way)

[2018-06-19 20:41] tyleryasaka commented on #90
@ambertch Tried your steps, same result. I'll keep looking into it.

Agree on the nitpick. I created an issue for it. https://github.com/OriginProtocol/bridge-server/issues/91

[2018-06-22 01:21] tyleryasaka commented on #90
@ambertch Tried again today and was able to get everything working. I think it had something to do with contract ABIs getting out of sync during development. Thanks for your help!

[2018-06-22 01:21] #90 closed

[2018-06-24 05:33] micahalcorn opened #95 "Appropriately Handle International Phone Numbers"
The bridge server uses Twilio for phone attestations. We currently only [attempt to send an SMS message and otherwise raise an exception](https://github.com/OriginProtocol/origin-bridge/blob/b55a98dd3639677ac91537f34e9d3888bd087381/logic/attestation_service.py#L76-L82). [Twilio does not support SMS in all countries](https://support.twilio.com/hc/en-us/articles/223183068-Twilio-international-phone-

[2018-06-25 21:00] tyleryasaka opened #96 "AirBnB verification codes can look like phone numbers"
When testing, I got this verification code: `0x3b06524d`.

AirBnB wasn't too crazy about it.

<img width="245" alt="screen shot 2018-06-25 at 1 43 27 pm" src="https://user-images.githubusercontent.com/6504519/41875538-fb157c18-787f-11e8-9fbd-30b6fb5e36f0.png">

If possible, we should change the format of our codes so that they will never resemble phone numbers.

[2018-06-26 09:05] sparrowDom commented on #96
Good idea, tnx.

[2018-06-26 14:14] sparrowDom commented on #96
Verification string now consists of 7 words, as discussed in this thread. How it looks:
<img width="524" alt="screenshot 2018-06-26 15 39 31" src="https://user-images.githubusercontent.com/579910/41917828-6b4e024e-795b-11e8-97c8-9da512d87afb.png">

The fixes have been pushed to [origin-bridge airbnb attestation fix branch](https://github.com/OriginProtocol/origin-bridge/pull/97) and also 1 extra c

[2018-06-27 14:01] micahalcorn commented on #96
Done via #97 ✅

[2018-06-27 14:01] #96 closed

[2018-06-27 23:19] micahalcorn commented on #5
Here is the mess of an architectural diagram that I showed in today's engineering call. @DanielVF would have been proud. ![origin dapp messaging](https://user-images.githubusercontent.com/273937/42004538-163f968a-7a25-11e8-8067-0261adb3f710.jpeg)
Again, the complexity arises because we are trying to make a messaging service that is

a) encrypted and secure
b) auditable under certain circumstances

[2018-07-03 01:38] micahalcorn opened #99 "Pagination: Listings"
A request for all listings should not actually yield all of them. There should be a default limit (maybe 10?) with a maximum limit (maybe 100?). Other parameters might include the starting position and/or ending position for the "page" and the response should probably indicate whether or not there are more results to retrieve in a subsequent request.

[2018-07-03 01:40] micahalcorn opened #100 "Pagination: Purchases"
A request for all purchases should not actually yield all of them. There should be a default limit (maybe 10?) with a maximum limit (maybe 100?). Other parameters might include the starting position and/or ending position for the "page" and the response should probably indicate whether or not there are more results to retrieve in a subsequent request.

The implementation should conform to that of

[2018-07-03 01:45] micahalcorn opened #101 "Pagination: Reviews"
A request for all reviews should not actually yield all of them. There should be a default limit (maybe 10?) with a maximum limit (maybe 100?). Other parameters might include the starting position and/or ending position for the "page" and the response should probably indicate whether or not there are more results to retrieve in a subsequent request.

The implementation should conform to that of #9

[2018-07-03 14:19] lucadgtrip commented on #99
just as a data point the main platforms have moved away from the standard 10 listings per page to:
- 18: Airbnb
- 20: Booking
- 31: Tripadvisor
- 50: Homeaway
(funnily enough the more successful have less listing per page, the struggling ones have more)

[2018-07-05 19:55] micahalcorn opened #102 "Purchase Timestamp Data Types"
Purchase timestamps are currently being returned by the API as [ISO strings](https://en.wikipedia.org/wiki/ISO_8601). They should be returned as seconds since the epoch because they are integers on the blockchain and [Origin.js expects to return datetimes](http://docs.originprotocol.com/#purchase-get). It would probably also be preferable for the field names to match, such as `created` instead of

[2018-07-06 02:17] ambertch commented on #18
So, an alternative to uploading the images to IPFS, then writing their hashes into the listing and uploading listing, might be adding everything into a folder and then uploading the folder.

I'm unsure if this can be done through a web client, although one benefit of this alternative implementation is that we don't essentially have X different objects around IPFS, just one folder to represent a li

[2018-07-09 18:45] Gzing commented on #18
`dweb` or `ipfs` are OK.
`data` URI's are heavy, and current IPFS blobs weight ~1.5MB's each due to the images.
If we are loading 10 test listing from bridge server with that kind of data, it's a single response/request cycle for building up the list and downloading ~10-15MB's of data.

Might be OK for now, if we are planning to just use these in the list detail endpoints.

[2018-07-10 03:01] ambertch commented on #91
If we pluralize the endpoint names: the tables in the database are also in the singular, so it could be an option to pluralize those as well.

[2018-07-11 16:07] micahalcorn commented on #5
Here is the draft outlining the implementation:

https://docs.google.com/document/d/1TnjTIBCA0VWoCmlHgmXwCL07m2RlHHJ8pGAWhF5BQeA

[2018-07-11 22:55] micahalcorn commented on #6
I am going to consider this done since we have a prototype working on bridge/mobile and a non-bridge implementation in js/dapp.

[2018-07-11 22:55] #6 closed

[2018-07-11 22:58] micahalcorn commented on #5
Considering this done though not yet merged ✅

[2018-07-11 22:58] #5 closed

[2018-07-13 00:20] tomlinton commented on #95
Twilio has an [API for phone verification](https://www.twilio.com/docs/verify/api/verification) that handles voice verification including different languages. It doesn't look like it has the limits on SMS availability (at least I can't find anything). Any thoughts on changing the bridge server over to using that?

It seems like a good idea to then offer a choice of voice or SMS in the dapp.

[2018-07-13 00:37] micahalcorn commented on #95
Thanks, @tomlinton. I think that we probably need to detect the reason for the failure, fall back to the voice-based verification, and then handle additional failures appropriately. Let me know if you decide to take this on.

[2018-07-13 01:06] tomlinton commented on #95
Sorry @micahalcorn I don't think I explained that very well. The Twilio Verify API does SMS and voice verification (you specify in the API request). Because you aren't using your own Twilio number the limitations on SMS sending from certain countries don't exist. So this exception won't exist anymore. Of course there are a bunch of other failures to handle like bad API keys.

We then don't have to

[2018-07-13 06:05] franckc opened #103 "Bridge server crashes when using Python 3.7"
There is a change in Python 3.7 compared to prev versions where "async" is now a reserved keyword.

Several libraries the bridge server depends on (celery, kombu, redis) do use that keyword and need to get upgraded to fix this issue.
- celery and kombu can get upgraded to 4.2.0
- but there is no update available yet for redis (we are running latest which is 2.10.6)

For now the workaround is for d

[2018-07-13 16:38] wanderingstan commented on #95
Thanks @tomlinton , didn't know about the dedicated purpose verification API. That's perfect.

@micahalcorn can we make an issue to switch over to that? I don't see it being a priority right away, but something we can put out to the community (a slightly advanced "good first issue"?), and/or pick it up ourselves in a few weeks.

[2018-07-13 19:26] ambertch opened #104 "Remove IPFS picture data when creating or updating reviews"
When the indexer creates or updates listings, the picture data is removed from the IPFS content: https://github.com/OriginProtocol/origin-bridge/blob/develop/logic/indexer_service.py#L48

The method to create or update reviews, which also store IPFS data, should also remove picture data: https://github.com/OriginProtocol/origin-bridge/blob/develop/logic/indexer_service.py#L97

[2018-07-13 20:57] tomlinton commented on #95
I'm happy to take it on, I've been testing it out to make sure it'd work so I've done a fair bit of the work implementing it already :joy:

[2018-07-13 21:10] micahalcorn commented on #95
@tomlinton I think we're on board but let me confirm and get back to you.

[2018-07-13 22:46] tomlinton commented on #95
@wanderingstan yep I'll take it on and also put together some instructions for the Twilio changes.

[2018-07-13 23:19] ambertch opened #105 "Support indexing Fractional Listings / only index Unit Listings"
Currently, with the refactor to Unit and Fractional Listings, the two subclasses have different data fields.

The indexer code has been modified to retrieve listing data for Unit Listings https://github.com/OriginProtocol/origin-bridge/blob/develop/logic/indexer_service.py#L153 , however NewListing events are emitted for all listings, so the celery worker will invoke the indexer with a NewListing

[2018-07-13 23:20] ambertch commented on #105
(this is strangely both a bug and a feature)

[2018-07-16 06:09] ambertch commented on #84
The following issues track the above:

1. Adding a second IPFS gateway (https://github.com/OriginProtocol/origin-devops/issues/5, https://github.com/OriginProtocol/origin-devops/issues/2)
2. Have IP-based ACLs for certain operations, such as pinning and unpinning (TODO)
3. Basic monitoring for low disk space, etc. (https://github.com/OriginProtocol/origin-devops/issues/1)
4. Have a "shadow" IPFS s

[2018-07-16 06:12] ambertch commented on #84
In addition, profiling of upload and download times as well as optimization of those: https://github.com/OriginProtocol/origin-devops/issues/9

[2018-07-16 18:50] micahalcorn commented on #104
Done via #109 ✅

[2018-07-16 18:50] #104 closed

[2018-07-17 05:07] franckc commented on #104
Actually, I did some more testing and investigation in the code.
I don't think the JSON blob we store in IPFS for reviews has any image ?
Here is the origin.js code that write the IPFS data:
https://github.com/OriginProtocol/origin-js/blob/49fe587c5fe1380015ec35422edb2fed857312f6/src/resources/purchases.js#L71
It stores two fields: "version" and "reviewText".

Here is an example of the review data

[2018-07-17 05:33] franckc commented on #99
Here is the relevant Flask restless documentation regarding pagination:
https://flask-restless.readthedocs.io/en/stable/requestformat.html#pagination

Currently our listing, purchase and review Flask Restless endpoints have a fixed page size of 10 entries. See https://github.com/OriginProtocol/origin-bridge/blob/develop/app/app_config.py#L41

I'd suggest we change the current behavior for listing,

[2018-07-17 06:09] ambertch commented on #104
@franckc That's my mistake, thanks for catching it. I did not know that the IPFS hash referenced in the Purchase methods was a review object, and assumed it was a listing.

[2018-07-17 08:07] tomlinton commented on #103
It looks like [celery is the issue](https://github.com/celery/celery/issues/4849) here. I think the redis package is OK for 3.7. Confusingly the error that celery spits out is in a file named redis.py.

I tested on 3.7 with an install from the development branch of celery that has the fix for this and the celery worker was fine. It looks like a minor release for celery will happen at the end of th

[2018-07-17 16:21] franckc commented on #103
Thanks for investigating on this @toml - nice work !
Sounds good, let’s upgrade to celery 4.2.1 when it becomes available.

On Tue, Jul 17, 2018 at 1:07 AM Tom Linton <notifications@github.com> wrote:

[2018-07-18 05:07] franckc commented on #104
@ambertch No problem, my bad. I should have more thoroughly looked at the code creating the IPFS data. Sent PR #111 to fix.

[2018-07-18 15:05] micahalcorn commented on #103
Hey, @tomlinton are you on our Discord channel? If, so what’s your name there? If not, well, join us! 😄

[2018-07-18 18:37] tomlinton commented on #103
toml on discord :smile:

[2018-07-18 23:11] tomlinton commented on #103
celery 4.2.1 is out but this fix didn't make it. :cry:

[2018-07-21 00:25] tomlinton commented on #95
Done by #113 :heavy_check_mark:

[2018-07-21 00:25] #95 closed

[2018-07-21 05:54] tomlinton commented on #46
Phone storage was removed in PR #113 so it'd be nice to change the email verification to use a server side session as @ambertch suggested. Then nothing is being stored on the bridge servers and we can do away with this database table.

[2018-07-23 22:06] micahalcorn opened #117 "Admin: Hidden & Featured Listings"
There should be a new API for hiding and featuring listings that only works for a whitelisted group of ETH accounts. It should account for these flags when returning listings to consumers of the indexer's API.

[2018-07-24 03:21] tomlinton commented on #91
I think the dapp will start using these endpoints in the near future so I'll take this on. Anyone else have any thoughts about the table names being pluralized as @ambertch suggested? I prefer them pluralized, it makes writing queries feel more natural, e.g. `select * from listings` instead of `select * from listing` (not that writing raw SQL is going to happen very often).

[2018-07-24 04:36] franckc commented on #91
Personally I'm slightly in favor of singular for database tables. Mostly because I'm used to that convention. But also it is a bit shorter and plural makes me think it is a collection that is stored (vs individual items).
We currently use singular in our origin-bridge and origin-website repos.
There are long [debates](https://stackoverflow.com/questions/338156/table-naming-dilemma-singular-vs-plur

[2018-07-24 04:40] tomlinton commented on #91
Agreed that it doesn't really mattter as long as it is consistent @franckc. :+1: I'll just do the URL changes for now.

[2018-07-25 21:48] tomlinton commented on #46
In the engineering call it sounded like we may want to keep around a record of successful attestations (in the short term at least). Just wanted to note that the verification_code table never did that, it's only a record of codes generated for an email or phone number, the success/failure of the attestation was never recorded. We can fire up a record of attestations as a separate issue if it is wa

[2018-07-26 04:30] franckc commented on #46
Yes agreed, we can have a separate table for recording attestations if needed - and we can design it to be flexible enough so that it can record all types of attestations: phone, email, airbnb, fbook, twitter and future ones. I'll chat with folks and we'll file a separate issue if worth implementing.

[2018-07-26 16:57] franckc opened #120 "Record successful ERC725 attestations in DB"
For some context, see #46

1. For our initial V1 launch we need to decide if we want to record in the bridge server DB successful ERC725 attestations including personal identifier such as email, phone, social networks handles, etc...
2. For longer-term @joshfraser mentioned the idea of storing the root of a merkle tree onchain so people can prove their data has been verified by us without their ac

[2018-07-26 16:58] franckc commented on #46
Closing this issue - implemented in #119

[2018-07-26 16:58] #46 closed

[2018-07-26 17:30] franckc commented on #4
Relevant documents:
- [Product spec](https://docs.google.com/document/d/16QXN6RzKLMDNnN7jwXWQBoNxlVbwPHh-Ti27PSyIKdI/edit?usp=sharing)
- [Eng design](https://docs.google.com/document/d/1v6N--Ncyea12irHysE8QafmjnCRy01YKm7Fqtxq2rNc/edit#)

[2018-07-26 19:04] joshfraser commented on #120
We have a strong preference against storing any personally identifiable information but recognize that it may be important for us to see the raw data to prevent abuse if we're issuing rewards based on completing attestations.

For context, we've been investigating the idea of offering token rewards for signing up or referring friends to the platform (much like most sharing economy platforms offer

[2018-07-28 23:56] tomlinton commented on #120
One idea might be to provide token rewards only for attestations that are hard to perform Sybil attacks on, e.g. Airbnb users with x reviews. If we set up some minimum criteria for attestations to get rewards and initially manage it with a centralized database we can be reasonably sure that the system isn't being abused when everything ends up as a leaf node in a merkle tree later on.

[2018-07-30 04:45] franckc commented on #120
Yes, good idea regarding limiting sybil attacks by only granting reward token to identities that can demonstrate some level of activity (airbnb reviews, facebook posts, tweets).

[2018-07-30 04:46] franckc commented on #120
Regarding ability to publish a proof that Origin verified a given identity claim. As opposed to implementing a merkle tree proof approach on the Origin side, I'm wondering about the possibility to leverage events that are emitted and recorded on the blockchain as part of the ERC 725 flow. In particular the "[ClaimAdded](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/id

[2018-07-30 18:47] franckc commented on #68
The plan is to write an "EventListener" in Node.js that integrates with origin-js library.
Work is being tracked in [here](https://github.com/OriginProtocol/origin-js/issues/290).

Closing this issue.

[2018-07-30 18:47] #68 closed

[2018-07-30 19:09] franckc opened #122 "Implement an internal API for indexing Listings and Purchases into the search backend"
As part of the design for indexing (see [doc](https://docs.google.com/document/d/1v6N--Ncyea12irHysE8QafmjnCRy01YKm7Fqtxq2rNc/edit#)), the EventListener will call an internal bridge server REST API to index Listings and Purchases in the search back-end.

[2018-07-30 19:10] franckc opened #123 "Implement an internal API for indexing Listings and Purchases into the DB"
As part of the design for indexing (see [doc](https://docs.google.com/document/d/1v6N--Ncyea12irHysE8QafmjnCRy01YKm7Fqtxq2rNc/edit#)), the EventListener will call a bridge server internal API to index Listings and Purchases in the Database.

[2018-07-30 19:21] franckc opened #125 "Implement an internal API for sending mobile notification."
As part of the design for indexing (see [doc](https://docs.google.com/document/d/1v6N--Ncyea12irHysE8QafmjnCRy01YKm7Fqtxq2rNc/edit#)), the EventListener will call an internal bridge server API to send mobile notifications.

[2018-07-31 10:19] nick commented on #120
I think that makes sense... though we may want to salt the data as it'd otherwise be trivial to, for example, try AirBnb ID 1-10000000 and brute force it.

For example, the data attribute could be keccak256(email, salt). When the user wants to prove their email was verified by Origin to a 3rd party, they supply their email and the salt. The 3rd party can then verify the data in the claim matches k

[2018-07-31 17:45] franckc commented on #120
Yes, agreed data should be salted.
My crypto fu is weak, but using part of the private key to generate a salt makes sense to me as well.

[2018-08-02 16:09] sparrowDom commented on #99
See the solution here:
https://github.com/OriginProtocol/origin-bridge/pull/129

And all that was needed were 3 lines of code.

[2018-08-02 16:15] sparrowDom commented on #100
Pull request that handles this: https://github.com/OriginProtocol/origin-bridge/pull/129

[2018-08-02 16:15] sparrowDom commented on #101
Pull request that handles this: https://github.com/OriginProtocol/origin-bridge/pull/129

[2018-08-02 21:46] #99 closed

[2018-08-02 21:46] #100 closed

[2018-08-02 21:46] #101 closed

[2018-08-05 08:04] tomlinton commented on #18
I've started working on this - just wanted to confirm a few things and make sure I haven't missed any discussions on this. As I understand this is what we want:

- Pictures move to IPFS and the listing holds an array of `dweb:` or `ipfs:` URIs referencing them
- We still want to support `data:` URIs in listings.
- A helper function in `origin-js` as described in [PR #216](https://github.com/Origin

[2018-08-05 14:05] wanderingstan commented on #18
That sounds exactly right, @tomlinton ! I could never get a clear read on whether `dweb:` or `ipfs:` was preferred, but we might as well handle both.

We should make a parallel issue for modifying the listing creation process to store the images in ipfs, and then `dweb:`/`ipfs:` URIs in the listing json. (Or did you want to cover this also in this issue/PR)

[2018-08-05 20:25] tomlinton commented on #18
Thanks @wanderingstan! I'll go with `ipfs:` by default but handle both. I'll cover the changes to creation in the same PR.

[2018-08-22 16:30] franckc opened #133 "Delete event listener and contract code"
Now that we are moving towards a Node.js EventListener implementation, we need to delete the old bridge server code and contracts JSON that was used for listening to events.
It is going to be replaced by the following:
 - Search and DB indexers will be built-in the EventListener
 - Mobile notification will be a bridge server webhook called by the EventListener.

Also we should delete the origin-br

[2018-09-08 22:00] tomlinton commented on #18
Done by [#320.](https://github.com/OriginProtocol/origin-js/pull/320)

[2018-09-08 22:00] #18 closed

[2018-09-08 22:02] tomlinton commented on #91
Closing this as `origin-bridge` will no longer handle indexing.

[2018-09-08 22:02] #91 closed

[2018-09-08 22:02] tomlinton commented on #88
Closing this as `origin-bridge` will no longer handle indexing and so doesn't use elasticsearch.

[2018-09-08 22:02] #88 closed

[2018-09-08 22:03] tomlinton commented on #86
Closing this as `origin-bridge` will no longer handle indexing.

[2018-09-08 22:03] #86 closed

[2018-09-08 22:04] tomlinton commented on #103
Closed by removal of celery in #134.

[2018-09-08 22:04] #103 closed

[2018-09-08 22:05] tomlinton commented on #122
Closing this as `origin-bridge` no longer handles indexing.

[2018-09-08 22:05] #122 closed

[2018-09-08 22:05] tomlinton commented on #123
Closing this as `origin-bridge` no longer handles indexing.

[2018-09-08 22:05] #123 closed

[2018-09-08 22:06] tomlinton commented on #133
@franckc it looks like this was covered in #134? OK to close?

[2018-09-09 03:12] tomlinton commented on #62
Closed because `origin-bridge` no longer handles indexing.

[2018-09-09 03:12] #62 closed

[2018-09-09 04:14] franckc commented on #133
Yes, this was done. Closing...

[2018-09-09 04:14] #133 closed

[2018-09-09 04:16] franckc commented on #44
Implemented in EVentListener. Closing.

[2018-09-09 04:16] #44 closed

[2018-09-16 07:03] franckc commented on #120
Adding @tyleryasaka since he is deep diving into ERC 725.

[2018-09-20 01:47] tomlinton commented on #105
Closed cause bridge no longer does indexing.

[2018-09-20 01:47] #105 closed

[2018-09-20 01:48] tomlinton commented on #79
Closed as the event listener has webhook support.

[2018-09-20 01:48] #79 closed

[2018-09-20 01:49] tomlinton commented on #102
Closed as bridge no longer does indexing.

[2018-09-20 01:49] #102 closed

[2018-09-20 01:49] tomlinton commented on #117
Closed as bridge no longer does indexing.

[2018-09-20 01:49] #117 closed

[2018-09-20 01:49] tomlinton commented on #125
Closed as bridge no longer does indexing.

[2018-09-20 01:49] #125 closed

[2018-09-26 20:33] joshfraser commented on #120
We want to store attestations again before mainnet so we can see how people are using the DApp.

[2018-09-27 20:31] joshfraser opened #136 "Airbnb attestations don't work with international domains"
The current Airbnb attestation service expects the Airbnb domain to be airbnb.com but regional domains like airbnb.co.uk are just as valid.

[2018-09-27 20:32] franckc commented on #136
Ah good catch. @joshfraser is that a p0 ? or can we fix shortly after V1 ?

[2018-09-28 04:49] franckc commented on #136
Sounds good. Let's prioritize it for after V1 then...

[2018-09-29 01:37] tomlinton commented on #120
Done by #137. :tada:

[2018-09-29 01:37] #120 closed

[2018-10-05 00:23] tomlinton opened #138 "Save additional data in database for successful attestations"
Some data is not saved in the database following a successful attestation. The following data should also be recorded:

- Facebook account
- Twitter account
- Remote IP address of client

I think Facebook and Twitter only return auth URLs and so a subsequent request may be required to determine the account details of the user.

[2018-10-07 22:29] tomlinton commented on #136
Does this impact the functionality of the attestation though? My understanding was that the international version of the Airbnb domain will serve up the same page but with different localisation settings like language which shouldn't prevent our attestation from working.

[2018-10-08 07:38] sparrowDom commented on #136
@tomlinton yeah you are right. The part that needs some adjustments is probably just the form validation, that will not let any domains other than airbnb.com through.

[2018-10-09 22:41] tomlinton commented on #138
Closed by #139.

[2018-10-09 22:41] #138 closed

[2018-10-10 18:19] tomlinton opened #140 "Return Twitter and Facebook account IDs with attestation responses"
On OAuth success the response should include the account ID for Twitter and Facebook to allow `origin-dapp` to store them in IPFS via `origin-js`.

[2018-10-10 21:50] micahalcorn commented on #140
Please confirm the same for Airbnb, if possible.

[2018-10-11 07:43] sparrowDom commented on #140
Yup the same goes for Airbnb

[2018-10-22 23:03] tomlinton commented on #136
Fixed in [#748](https://github.com/OriginProtocol/origin/pull/748).

[2018-10-22 23:03] #136 closed

[2018-10-25 07:39] sparrowDom commented on #140
We have decoded not to store Facebook identification into attestation for privacy reasons. For Twitter and Aribnb this is solved via: https://github.com/OriginProtocol/origin/pull/759

[2018-10-25 07:40] #140 closed

[2018-10-25 11:00] joshfraser commented on #140
For Facebook, it wasn't about privacy, it was that Facebook disabled the API we needed to get a username.

[2018-10-25 15:44] sparrowDom commented on #140
I thought it was about privacy because we could do Facebook attestation the Airbnb way, where users would need to post something on Facebook and we would verify it by fetching that post.

[2018-10-25 15:55] joshfraser commented on #140
That's what I'd proposed, but I couldn't convince @matthewliu to get on board. I personally love publicly auditable proofs but Matt thinks they're too confusing for users. Our compromise was to leave things as is for now. We'll revisit once we have a more defined framework around how we're handling identity overall.

[2018-10-25 19:55] sparrowDom commented on #140
Sounds good, let deal with this then

[2018-10-30 02:43] tomlinton commented on #31
Closing this as no longer relevant, the bridge server now only handles attestations which should run on just about any specs.

[2018-10-30 02:43] #31 closed